Repository d4l-data4life/hc-auth-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, auth, sample-android, sample-jvm

Bump Gradle 6.9 -> 6.9.1
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Bump Android Gradle Plugin 4.2.1 -> 4.2.2, HC Util SDK 1.8.0 -> 1.10.0, AndroidX Ktx 1.3.2 -> 1.6.0, AndroidX AppCompat 1.3.0 -> 1.3.1, AndroidX Browser 1.2.0 -> 1.3.0
  CHANGELOG.adoc
  README.adoc
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Version.kt
Labels: documentation

Add HC Result SDK 0.1.1
  CHANGELOG.adoc
  auth/build.gradle.kts
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Dependency.kt
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Repository.kt
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Version.kt
Labels: documentation, auth

Downgrade AndroidX 1.6.0 -> 1.3.2
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Version.kt
Labels: none

Bump AppAuth from a custom patched version to the official 0.10.0. The workaround is not needed anymore
  CHANGELOG.adoc
  README.adoc
  auth/build.gradle.kts
  auth/src/androidMain/AndroidManifest.xml
  auth/src/androidMain/kotlin/care/data4life/sdk/auth/AuthorizationService.kt
  auth/src/androidTest/kotlin/care/data4life/sdk/auth/AuthorizationServiceTest.kt
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Dependency.kt
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Version.kt
Labels: documentation, auth

Fix codestyle
  auth/src/androidMain/kotlin/care/data4life/sdk/auth/AuthorizationService.kt
Labels: auth

Bump HC Result SDK 0.1.1 -> 0.2.0
  CHANGELOG.adoc
  gradlePlugin/auth-dependency/src/main/kotlin/care/data4life/sdk/auth/dependency/Version.kt
Labels: documentation

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/sdk/auth/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Library
auth:
  - auth/**/*

# Sample Apps
sample-android:
  - sample-android/**/*
sample-jvm:
  - sample-jvm/**/*
